@import '../variables';

.log-container {
  flex: 1 1 0; // take up half of vertical space
  //height: 0; // don't let it grow past half

  overflow: hidden;
}

.log {
  flex: 1 0 auto;

  //padding: $window-padding;
  //height: calc(100% - 1rem);

  margin: 1rem 0.5rem;
  //height: calc(100% - 4rem);
  height: calc(100% - 2rem);

  overflow-x: hidden;
  overflow-y: hidden;

  .log-section {
    &.active {
      color: #fff;
    }
    &.inactive {
      color: #999;
    }
  }

  p {
    margin: 0;
    white-space: pre-wrap;

    &:empty:before {
      content: "\200b"; // unicode zero width space character
    }

    &.flash {
      background: rgba(255,255,255,0.5);
    }
    &.fade-flash {
      transition: background 1s;
      background: transparent;
    }
  }
}

//.log-gradient {
//  position:absolute;
//  top: 0;
//  left: 0;
//  height: 100%;
//  width: 100%;
//
//  background: linear-gradient( rgba(39, 40, 35, 1) 0%, rgba(39, 40, 35, 0) 100% );
//
//}