@import '../variables';

#outside-container {
  //padding: $window-padding;

  display: flex;
  flex-direction: column;
  //justify-content: center;
  justify-content: flex-start;
  align-items: center;

  height: 100%;
  width: 100%;

  //background: rgb(2,0,36);
  //background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(98,98,224,1) 53%, rgba(0,212,255,1) 100%);

  //background: rgb(2,0,36);
  //background: linear-gradient(180deg, #020024 0%, #451804 50%, #c1440e 100%);
  color: $ui-text;

  #outside-content {
    //background-color: red;

    white-space: pre;
  }
}

/**
    TODO Remove this... this is for canvas
 */
//#outside-container {
//  //padding: $window-padding;
//
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//
//  height: 100%;
//  width: 100%;
//
//  #outside-canvas {
//    background-color: red;
//  }
//}