@import '../variables';

.resource-bar {
  padding: $component-padding;

  flex: 0 0 8rem; // static height

  //position: absolute;
  //top: 1rem;
  //left: 1rem;
  //z-index: 3;
  //background-color: $black-muted;
  //border: 1px solid white;
  //padding: 0.5rem;
  //width: 20rem;

  table {
    width: 100%;
    table-layout: fixed;

    tr {
      td:not(:first-child) {
        text-align: right;
      }

      td {
        vertical-align: top;
      }
    }
  }
}

.resource-amount:not(:first-child), .resource-rate:not(:first-child) {
  margin-left: 1rem;
}

.resource-rate {
  [class^="icon-"], [class*=" icon-"] {
    margin-right: -3px;
  }
}