@import '../variables';

.resource-bar {
  padding: $component-padding;

  // todo hack so that the terminal height never changes (otherwise as resources get discovered, the terminal shrinks
  //      slightly). Better way would be to remove this & re-scroll-to-bottom after a resource is discovered.
  min-height: 8.5rem;

  table {
    width: 100%;
    table-layout: fixed;

    tr {
      td:not(:first-child) {
        text-align: right;
      }

      td {
        vertical-align: top;
      }
    }
  }
}

.resource-amount:not(:first-child), .resource-rate:not(:first-child) {
  margin-left: 1rem;
}

.resource-rate {
  [class^="icon-"], [class*=" icon-"] {
    margin-right: -3px;
  }
}