@use '../variables' as *;

#star-container {
  flex: 1;
  position: relative;
  overflow: hidden; // sides (left/right) can get truncated based on screen size
  background: $space-black;

  canvas {


    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
