@import '../variables';

.structures {
  display: flex;
  flex-direction: column;

  padding: $window-padding;

  overflow-y: auto;

  .structure {
    padding-bottom: $window-padding;
    margin-bottom: $window-padding;
    border-bottom: 1px solid $structure-border;

    display: flex;
    flex-direction: row;

    .left-side, .right-side {
      display: flex;
      flex-direction: column;
    }
    .left-side {
      margin-right: 0.5rem;
      flex-shrink: 0;
    }
    .right-side {
      flex: auto;
    }

    .header {
      display: flex;
      flex-direction: row;
      //justify-content: space-between;

      font-weight: bold;

      .quantity {
        color: $structure-quantity-color;
      }
    }

    .body {
      display: flex;

      //.build-area {
      //  display: flex;
      //  flex-shrink: 0;
      //  flex-direction: column;
      //  align-items: flex-start;
      //
      //  margin-right: 2rem;
      //  min-width: 10rem;
      //
      //  .quantity {
      //    margin-bottom: 0.25rem;
      //  }
      //}
      .details-area {
        display: flex;
        flex: auto;
        flex-direction: column;

      }
    }

    .test {
      display:flex;justify-content:space-between;align-items:center;
    }

    .range-slider {
      max-width: 15rem;
    }

    .description {
      font-size: 0.875rem;
      margin-bottom: 0.5rem;
    }

    .image {
      white-space: pre;
      border: 1px solid $structure-image-border;
      width: 120px;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      font-size: 12px;

      margin-bottom: 0.25rem;
    }
  }
}