@import '../variables';

.structures {
  flex: 1 1 auto; // so structure list can scroll when too long for page
  overflow-y: auto;

  display: flex;
  flex-direction: column;

  .structure-list {
    padding: $component-padding;
  }
}

.structure {
  //padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid $structure-border;

  display: flex;
  flex-direction: column;
  //min-height: 5rem;

  .header {
    display: flex;
    flex-direction: row;

    font-size: 1rem;

    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;

    position: relative;

    .structure-name {
      color: $blue;

      .build-count {
        color: white;
      }
      .replication-count {
        color: #fcb3b3;
      }
    }

    .build-area {
      //display: flex;
      //align-items: center;
      position: absolute;
      top: -1px;
      right: 0;

      .build-button {
        margin-left: 0.5rem;

        .action-button span {
          padding: 0 2px;
        }
      }
    }
  }

  .body {
    display: flex;
    flex-direction: column;

    .details-area {
      display: flex;
      flex: auto;
      flex-direction: column;

    }

    .abilities-area {
      .ability {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
      }
    }

    .upgrades-area {
      padding: 0.5rem 0;

      button {
        width: 12rem;
        height: 2rem;

        span {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .droid-count {
      margin-top: 0.5rem;
    }
  }


  .range-slider {
    max-width: 15rem;
  }

  .description {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    color: $ui-text-dim;
  }

  .image {
    border: 1px solid $structure-image-border;
    position: relative;
    width: $structure-image-width;
    height: $structure-image-height;
    margin-bottom: 0.25rem;
    overflow: hidden;

    .image-layer {
      position: absolute;
      bottom: 0;
      left: 0;
      white-space: pre;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      width: $structure-image-width;
      font-size: $structure-image-font;
    }
  }

  .ability-info {
    display: inline-block;
    margin-left: 1rem;
  }

  #energy-button-container {
    height: 150px;
  }
  #energy-button-canvas {
    background: $black;
    border-radius: 4px;

    // small starting size so container size is unaffected. canvas will be resized by js
    width: 0;
    height: 0;
  }
}

.structure.commandCenter {
  padding: 0 $component-padding;
  border-bottom: none;
  margin-bottom: 0;

  // The following allows the upgrades area to take the maximum about of height available before scrolling
  flex: 1 1 auto;
  overflow-y: hidden;
  .body {
    overflow-y: hidden;
  }
}
