@import '../variables';

.tooltip-header {
  display: flex;
  justify-content: space-between;


  .upgrade {
    color: lightgreen;
  }
  .ability {
    color: $progress-button-ability-bg;
  }
}

.progress-button {
  margin: 0.5rem 0;
  padding: 0.5rem;
  display: inline-block;

  border: 1px solid $progress-button-border;
  background: $progress-button-bg;
  color: $progress-button-text;
  cursor: pointer;
  position: relative;

  &.ability {
    background: $progress-button-ability-bg;
    border-radius: 0.3rem;
  }

  &.upgrade {
    border: none;
    background: transparent;
    color: lightgreen;
    margin: 0.5rem;
    padding: 0;
  }

  &:hover {
    text-decoration: underline;
  }

  .progress-bar {
    position: absolute;
    top: 0;
    //left: 0;
    right: 0;
    z-index: 2;
    height: 100%;
    background-color: #ddd;
    opacity: 0.4;

    &.hidden {
      transition: none;
    }

    transition: width 100ms linear 0s; // transition-duration should match ANIMATION_SPEED in redux/modules/upgrades.js
  }

  &.disabled {
    opacity: 0.8;
    color: #3b643b;
    text-decoration: none;
  }

  &.full-width {
    width: calc(100% - 1rem);
  }

  .game-tooltip.place-right {
    margin-left: 16px;
  }
}

.on-off-switch {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.text-green {
  color: lightgreen;
}
.text-red {
  color: red;
}
.text-grey {
  color: grey;
}

.range-slider {
  height: 1rem;
  width: calc(100% - 1.3rem);

  margin: 0.5rem 0.65rem 1.5rem 0.65rem;

  &.rc-slider-disabled {
    background-color: transparent;

    .rc-slider-rail {
      background-color: #555;
    }
    .rc-slider-dot {
      background-color: #555;
      border-color: #888;
    }
    .rc-slider-handle {
      background-color: #555;
    }
  }

  &.tall {
    height: 2rem;
  }

  .rc-slider-mark-text {
    width: 20px; // So we can break into two lines
  }

  .rc-slider-handle, .rc-slider-dot-active {
    border-color: $range-slider-color;
  }
  .rc-slider-track {
    background-color: $range-slider-color;
  }
}

button {
  cursor: pointer;
  padding: 2px 6px;
  border: 1px solid $button-border;
  background: $button-bg;

  &:focus {
    outline: none !important;
    //border: 2px outset $orange;
  }
  &:active {
    background: #ccc;
  }
  &:disabled {
    background: $button-bg-disabled;
  }
  &.square {
    line-height: 1; // for use with icon buttons
  }
  &.action-button {
    font-size: 0.875rem;
    border-radius: 2px;
  }

  // If a button has a tip, we move the button text to an inner span (and that span will have the tip).
  // We can't have the tip on the button itself because the tip will stop working if the button gets disabled.
  // https://stackoverflow.com/a/60571469
  &.has-tip {
    padding: 0;

    > span {
      padding: 2px 6px;

      display: inline-block;
    }
  }
}

.game-tooltip {
  max-width: 20rem;
  opacity: 1 !important;
  padding: 0 1rem !important;

  .tooltip-header {
    //color: $ui-text-dim;
    font-weight: bold;
  }
}

.underline {
  text-decoration: underline;
}

.hidden { // hidden elements are not displayed and do not take up room
  display: none;
}

.invisible { // invisible elements are not displayed but they still take up room
  visibility: hidden;
}


.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.justify-end {
  justify-content: flex-end;
}

.key-value-pair {
  display: flex;
  justify-content: space-between;
}


.droid-count {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 0.875rem;

  .num-droids {
    margin-left: 0.2rem;
  }

  button {
    margin-left: 0.5rem;

    span {
      padding: 0 4px;
    }
  }
}

.half-br {
  margin-bottom: 0.5rem;
}



.tabs {
  display: flex;
  //margin-bottom: 0.5rem;

  a {
    cursor: pointer;
    color: $ui-text-dim;
    flex: 1;
    text-align: center;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid $ui-text-dim;

    &.current-tab {
      color: white;
      border-bottom: 2px solid white;
    }
  }
}

.component-header {
  font-size: 1rem;
  color: $blue;
  border-bottom: 1px solid $blue;
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
}


.os-scrollbar {
  .os-scrollbar-handle {
    background-color: $blue;
  }
}