@import 'normalize.css';
@import './variables';
@import './icon-font';
@import 'components/computer';
@import 'components/log';
@import 'components/outside';
@import 'components/resource_bar';
@import 'components/structures';
@import 'components/title';
@import 'components/ui';

html, body, #app {
  height: 100%;
}

html {
  font-size: 16px;
}

.app {
  display: flex;
  flex-direction: row;

  background: $ui-bg;
  height: 100%;
  font-family: $font-family;
  font-size: 0.875rem;
  color: $ui-text;

  .left-column {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;

  }
  .right-column {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    border-left: 1px solid $ui-border;
  }

  .log-container {
    border-top: 1px solid $ui-border;
  }

  .computer-container {
    border-top: 1px solid $ui-border;
  }

}
