@import 'normalize.css';
@import './variables';
@import 'components/log';
@import 'components/outside';
@import 'components/resource_bar';
@import 'components/structures';
@import 'components/title';

html, body, #app {
  height: 100%;
}

html {
  font-size: 16px;
}

.app {
  display: flex;
  flex-direction: row;

  background: $ui-background;
  height: 100%;
  font-family: monospace;
  color: $ui-font;

  .left-column {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;

    width: 330px;
    height: 100%;

    position: relative;
  }
  .middle-column {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    height: 100%;

    border-left: 1px solid $ui-border;
    border-right: 1px solid $ui-border;
  }
  .right-column {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;

    width: 330px;
    height: 100%;
  }

}
