@import 'normalize.css';
@import './variables';
@import 'components/log';
@import 'components/outside';
@import 'components/resource_bar';
@import 'components/structures';

html, body, #app {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: row;

  background: $background-color;
  height: 100%;
  font-family: monospace;
  color: $font-color;

  .left-column {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    width: 300px;
    height: 100%;
  }
  .middle-column {
    display: flex;
    flex-direction: column;

    flex: 1 1 auto;
    height: 100%;

    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
  }
  .right-column {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    width: 300px;
    height: 100%;
  }

}
