/**

This file (along with the fonts in src/styles/fonts) allows icons to be used in-line as a font (similar
to FontAwesome).

For information on adding new icons or how to use these icons, see the README in the icons folder

 */

//----------------------------------------------------------------- Common icon styling classes:

.skinny-icon {
  width: 12px;
}

.colorless-icon:before {
  color: inherit !important;
}

//----------------------------------------------------------------- Add classes for each icon here:

.icon-stone-pile:before {
  content: "\e900";
  color: #f9903c;
}
.icon-rock:before {
  content: "\e901";
  color: #f9903c;
}
.icon-rock2:before {
  content: "\e901";
  color: #f95f3c;
}
.icon-ore:before {
  content: "\e902";
  color: #20d9ff;
}
.icon-metal-bar:before {
  content: "\e903";
  color: #f95f3c;
}
.icon-electric:before {
  content: "\e904";
  color: #ffeb3b;
}
.icon-crystal-growth:before {
  content: "\e905";
  color: #20d9ff;
  //color: #87f0cd;
}
.icon-caldera:before {
  content: "\e906";
}
.icon-vintage-robot:before {
  content: "\e907";
}
.icon-upgrade:before {
  content: "\e908";
}
.icon-tracked-robot:before {
  content: "\e909";
}
.icon-satellite:before {
  content: "\e90a";
  color: #bbb;
}
.icon-satellite-2:before {
  content: "\e90a";
  color: #ffce33;
}
.icon-plain-arrow:before {
  content: "\e90b";
}
.icon-flat-hammer:before {
  content: "\e90c";
  //color: #f9903c;
}

.icon-compass:before {
  content: "\e90d";
  color: #ffffff;
}
.icon-globe:before {
  content: "\e90e";
  color: #fcb3b3;
}




// --------------------------------------------------------------------------- Loading the font files:
// (This part does not need to be updated when adding new icons)

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?my5gjl');
  src:  url('fonts/icomoon.eot?my5gjl#iefix') format('embedded-opentype'),
    //url('fonts/icomoon.ttf?my5gjl') format('truetype'),
  url('fonts/icomoon.woff?my5gjl') format('woff'),
  url('fonts/icomoon.svg?my5gjl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  //----- icomoon defaults:

  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  //----- Custom styling I added:
  display: inline-block;
  //font-size: 0.875rem;
  font-size: 1rem;
  vertical-align: middle;
  margin-top: -3px;
  text-rendering: auto;
  width: 1.28571em;
  text-align: center;
}