$window-padding: 0.5rem;



//https://coolors.co/0d0630-18314f-384e77-8bbeb2-e6f9af
//$background-color: #0d0630;
//$border-color: #e6f9af;


//https://coolors.co/220901-621708-941b0c-bc3908-f6aa1c
//$background-color: #220901;
//$border-color: #f6aa1c;


//https://lospec.com/palette-list/slso8
//$background-color: #0d2b45;
//$border-color: #ffecd6;

//https://lospec.com/palette-list/slso-clr17
$background-color: #2e2c3b;
$border-color: #c1e5ea;
$font-color: #fff;