$window-padding: 0.5rem;
$font-family: Courier, monospace;

$side-width: 300px;
$outside-height: 12rem;

// https://coolors.co/0d0630-18314f-384e77-8bbeb2-e6f9af

// https://coolors.co/220901-621708-941b0c-bc3908-f6aa1c

// https://lospec.com/palette-list/slso8

// https://lospec.com/palette-list/slso-clr17

// Planet Mars Color Palette
// https://www.color-hex.com/color-palette/7175
//$yellow: #fda600;
//$orange: #e77d11;
//$red: #c1440e;
//$red-brown: rgb(100,46,9); // half way between $red and $brown
//$brown: #451804;
//$white: #f0e7e7;
//
//$ui-bg: linear-gradient(180deg, #020024 0%, #451804 100%, #c1440e 100%);;
//$ui-text: #f0e7e7;
//$ui-border: #f0e7e7;
//
//$button-bg: #efefef;
//$button-bg-disabled: #888;
//$button-border: #aaa;
//
//$tooltip-bg: $red-brown;
//$tooltip-text: $white;
//
//$progress-button-bg: $red;
//$progress-button-border: $white;
//$progress-button-text: $white;
//
//$range-slider-color: $orange;
//
//$structure-border: #bbb;
//$structure-image-border: $white;


// https://lospec.com/palette-list/galaxy-flame
$ui-bg: #151d1a;
$ui-text: #f0e7e7;
$ui-border: #314e3f;

$button-bg: #efefef;
$button-bg-disabled: #888;
$button-border: #aaa;

$tooltip-bg: #4f5d42;
$tooltip-text: #151d1a;

$progress-button-bg: #314e3f;
$progress-button-border: #ede6cb;
$progress-button-text: #ede6cb;

$range-slider-color: #b6834c;

$structure-border: #314e3f;
$structure-image-border: #9a9f87;
$structure-description-color: #9a9f87;
$structure-quantity-color: #ede6cb;

$structure-image-height: 80px;
$structure-image-width: 90px;
$structure-image-font: 10px;